@import "tailwindcss";
@font-face {
    font-family: "League-Spartan";
    src: url("./assets/fonts/LeagueSpartan-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Space Grotesk";
    src: url("./assets/fonts/spacegrotesk-regular.ttf") format("truetype");
}